:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%
}

body{
  background-color: var(--color-black);
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.btn{
  border-style: none;
  background: none;
  cursor: pointer;
  text-align: center;
  margin-right: 10px;
}

/* .btn:hover{
  outline: none;
  width: 110%;
} */

ul{
  height: 400px;
  margin: 0;
  padding: 0;
}

li{
  display: none;
}

.showing{
  display: block;
}